@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

:root {
	--main-pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	--very-pale-blue: hsl(225, 100%, 98%);
	--desatured-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: "Red Hat Display", serif;
	font-size: 0.9rem;
	text-align: center;
	background-color: var(--main-pale-blue);
	color: var(--dark-blue);
	line-height: 1.2rem;
}

main {
	margin: 4rem auto;
	width: clamp(20rem, 80%, 22rem);
	max-width: 30rem;
	display: flex;
	flex-direction: column;
}

img {
	width: 100%;
	border-radius: 10px 10px 0 0;
	background-color: white;
}

.text {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2rem 2rem;
	border-radius: 0 0 10px 10px;
	font-weight: 500;
}
p {
	margin: 2rem auto;
	color: var(--desatured-blue);
}

.pricing {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: flex-start;
	gap: 1.2rem;
	width: 100%;
	align-items: center;
	background-color: var(--very-pale-blue);
	padding: 1rem;
	border-radius: 8px;
	font-size: 0.82rem;
}

.icon {
	width: 2rem;
	height: 2rem;
	background-color: var(--very-pale-blue);
}

.payment-button {
	margin: 2rem auto 1rem;
	width: 100%;
	background-color: var(--bright-blue);
	padding: 1rem;
	border-radius: 10px;
	color: white;
	font-weight: 600;
	box-shadow: 10px 6px 10px hsla(224, 23%, 55%, 0.452);
	border: none;
	outline: none;
	font-size: 0.86rem;
}
.payment-button:hover {
	background-color: hsl(245, 55%, 62%);
	cursor: pointer;
	color: var(--main-pale-blue);
}

span {
	color: var(--desatured-blue);
}
a {
	margin-left: auto;
	font-weight: 600;
}
a:hover {
	color: var(--desatured-blue);
}

em {
	font-style: normal;
	font-weight: 700;
	color: var(--dark-blue);
}
button {
	border: none;
	background-color: white;
	font-weight: 600;
	color: var(--desatured-blue);
	letter-spacing: 0.2px;
}

button:hover {
	cursor: pointer;
	color: var(--dark-blue);
}
