@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-cyan: hsl(167, 40%, 24%);
	--dark-blue: hsl(198, 62%, 26%);
	--moderate-cyan: hsl(168, 34%, 41%);
	--desatured-blue: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
	--header-blue: hsl(200, 100%, 62%);
	--footer: hsl(167, 44%, 70%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:before,
:after {
	padding: 1rem;
}

a,
h1,
h2,
h3,
.testimonials__name {
	font-family: "Fraunces", serif;
}

a:hover,
li:hover {
	color: var(--white);
	cursor: pointer;
}

body {
	min-height: 100vh;
	text-align: center;
	font-family: "Barlow", serif;
	font-size: 1rem;
	color: var(--desatured-blue);
}

header {
	background-color: var(--header-blue);
}

.container {
	display: grid;
}

.container__header {
	grid-template-rows: 6rem 15rem 18rem;
	align-items: center;
	background-color: var(--header-blue);
}

.nav {
	display: grid;
	padding: 1.5rem;
	justify-content: space-between;
	grid-auto-flow: column;
}

.icon__hamburger {
	display: block;
}
.hamburger {
	display: none;
	list-style-type: none;
}
.hamburger li {
	display: inline-block;
}

header h1 {
	color: var(--white);
	font-size: 2.4rem;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-weight: 900;
}

.orange {
	background-image: url(./images/mobile/image-header.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	height: 100%;
	position: relative;
}

.orange:before {
	content: url(./images/icon-arrow-down.svg);
	position: relative;
	margin: 0 auto;
}

/* Intro */

.container__intro {
	grid-auto-rows: 20rem 26rem 20rem 26rem 34rem 34rem;
	align-items: center;
	grid-template-areas: unset;
}

.intro__element {
	display: grid;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.intro__element:nth-child(1) {
	background-image: url("./images/mobile/image-transform.jpg");
}

.intro__element:nth-child(3) {
	background-image: url("./images/mobile/image-stand-out.jpg");
}

.intro__element:nth-child(5) {
	background-image: url("./images/mobile/image-graphic-design.jpg");
}

.intro__element:nth-child(6) {
	background-image: url("./images/mobile/image-photography.jpg");
}

.intro__element h2 {
	font-size: 2.3rem;
}

.intro__element p {
	line-height: 1.7rem;
	color: var(--grayish-blue);
	letter-spacing: 1.2px;
}

.intro__element a {
	text-decoration: none;
	color: var(--desatured-blue);
	height: 1rem;
	position: relative;
	font-size: 1.2rem;
}
.intro__element a:after {
	position: absolute;
	content: "";
	background-color: var(--yellow);
	background-size: cover;
	height: 0.4rem;
	width: 100%;
	left: 0;
	top: 90%;
	z-index: -1;
	padding: 0;
}

.intro__element a:hover:after {
	background-color: var(--soft-red);
}

.intro__element__text {
	padding: 2rem;
	align-items: center;
	justify-items: center;
}

.intro__element__pictured__text {
	padding: 20rem 2rem 2rem;
}

.intro__element__pictured__text h3 {
	font-size: 1.6rem;
}

.intro__element__pictured__text p {
	margin-top: 2rem;
	line-height: 1.5rem;
	color: var(--desatured-blue);
}

/* Testimonials */

.container__testimonials {
	grid-auto-flow: row;
	padding: 2rem;
}

.testimonials__title {
	color: var(--grayish-blue);
	font-size: 1rem;
	letter-spacing: 4px;
	text-transform: uppercase;
	align-self: center;
	padding: 4rem 0;
	margin-top: 0;
}

.container__card {
	margin-top: 2rem;
	gap: 3rem;
	grid-auto-flow: row;
}

.card {
	grid-auto-flow: row;
	grid-auto-rows: auto 3rem 3rem;
	align-items: baseline;
	position: relative;
}

.intro__emily:before {
	background-image: url("./images/image-emily.jpg");
}
.intro__thomas:before {
	background-image: url("./images/image-thomas.jpg");
}
.intro__jennie:before {
	background-image: url("./images/image-jennie.jpg");
}

.testimonials__intro {
	color: var(--very-dark-grayish-blue);
	padding: 9rem 2rem 2rem;
}

.testimonials__intro::before {
	content: "";
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 5rem;
	width: 5rem;
	display: block;
	border-radius: 50%;
	margin: 0 auto 1rem;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.testimonials__name {
	font-weight: 900;
}

.testimonials__job {
	color: var(--grayish-blue);
}

/* Pictures  */

.container__pictures {
	margin: 4rem auto 0;
	background-color: blue;
	width: 100%;
	grid-template-columns: 1fr 1fr;
}

.picture {
	min-height: 10rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.picture:nth-child(1) {
	background-image: url("./images/mobile/image-gallery-milkbottles.jpg");
}
.picture:nth-child(2) {
	background-image: url("./images/mobile/image-gallery-orange.jpg");
}
.picture:nth-child(3) {
	background-image: url("./images/mobile/image-gallery-cone.jpg");
}
.picture:nth-child(4) {
	background-image: url("./images/mobile/image-gallery-sugar-cubes.jpg");
}

/* Footer  */

.container__footer {
	background-color: var(--footer);
	padding: 3rem 0;
	gap: 3rem;
	align-items: center;
	justify-content: center;
}

.about {
	gap: 2rem;
	max-width: 30rem;
	grid-auto-flow: column;
	list-style-type: none;
	color: var(--moderate-cyan);
}

.social {
	grid-auto-flow: column;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

.social li:first-child::before {
	content: url("./images/icon-facebook.svg");
}
.social li:first-child::after {
	content: url("./images/icon-instagram.svg");
}

.social li:last-child::before {
	content: url("./images/icon-twitter.svg");
}
.social li:last-child::after {
	content: url("./images/icon-pinterest.svg");
}

/* Responsive Media up 800px - Responsive Media up 800px - Responsive Media up 800px  */

@media (min-width: 520px) {
	.container__header {
		grid-template-rows: 6rem 15rem 26rem;
	}

	.nav {
		padding: 4rem 2rem;
	}

	.icon__hamburger {
		display: none;
	}
	.hamburger {
		display: grid;
		grid-auto-flow: column;
		align-items: baseline;
		gap: 2rem;
	}

	.hamburger li span {
		background-color: var(--white);
		padding: 0.6rem 1.4rem;
		border-radius: 20px;
	}

	.hamburger li span:hover {
		background-color: rgba(245, 245, 245, 0.548);
	}

	header h1 {
		color: var(--white);
		font-size: 2.6rem;
		letter-spacing: 6px;
		text-transform: uppercase;
		font-weight: 900;
	}

	.orange {
		background-image: url(./images/desktop/image-header.jpg);
	}

	.orange:before {
		top: 0;
	}

	/* Intro */

	.container__intro {
		grid-auto-rows: unset;
		grid-template-columns: 50% 50%;
		grid-template-areas:
			"topleft topright"
			"midleft midright"
			"botleft botright";
	}

	.intro__element {
		display: grid;
		width: 100%;
		height: 40rem;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.intro__element:nth-child(1) {
		background-image: url("./images/desktop/image-transform.jpg");
		grid-area: topright;
	}
	.intro__element:nth-child(2) {
		grid-area: topleft;
	}

	.intro__element:nth-child(3) {
		background-image: url("./images/desktop/image-stand-out.jpg");
	}

	.intro__element:nth-child(5) {
		background-image: url("./images/desktop/image-graphic-design.jpg");
	}

	.intro__element:nth-child(6) {
		background-image: url("./images/desktop/image-photography.jpg");
	}

	/* Testimonials */

	.testimonials__title {
		font-size: 1.2rem;
		letter-spacing: 8px;
		padding: 3rem 0;
		margin-top: 3rem;
	}

	.container__card {
		margin: 0 auto;
		max-width: 80rem;
		gap: 3rem;
		grid-auto-flow: column;
	}

	.card {
		/* gap: 1rem; */
		max-width: 26rem;
	}

	.testimonials__intro::before {
		content: "";
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 5rem;
		width: 5rem;
		display: block;
		border-radius: 50%;
		margin: 0 auto 3rem;
	}

	/* Pictures  */

	.container__pictures {
		min-height: 16rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-auto-flow: 1fr;
	}

	.picture:nth-child(1) {
		background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
	}
	.picture:nth-child(2) {
		background-image: url("./images/desktop/image-gallery-orange.jpg");
	}
	.picture:nth-child(3) {
		background-image: url("./images/desktop/image-gallery-cone.jpg");
	}
	.picture:nth-child(4) {
		background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
	}

	/* Footer  */

	.container__footer {
		padding: 3rem 0;
		gap: 3rem;
	}

	.about {
		gap: 3rem;
	}
}

@media (min-width: 520px) {
	.container__header {
		grid-template-rows: 6rem 15rem 16rem;
	}
}
@media (min-width: 800px) {
	.container__header {
		grid-template-rows: 6rem 15rem 22rem;
	}
}

@media (min-width: 1440px) {
	.container__header {
		grid-template-rows: 6rem 15rem 26rem;
	}
}
