footer {
	border-top-right-radius: $border-radius;
	background-color: var(--bg-vdark-blue);
	color: var(--white);
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 3rem;
	font-family: "Ubuntu", serif;
	padding: 10rem auto;
}

.footer__logo {
	margin: 10rem auto;
	width: 18rem;
	height: unset;
}

.footer__content h4 {
	color: var(--white);
	margin-bottom: 4rem;
	font-weight: 400;
}

.footer__content ul {
	display: flex;
	flex-direction: column;
	font-family: "Overpass", serif;
	gap: 1.8rem;
	opacity: 0.7;
	margin-bottom: 6rem;
}

.footer__content a {
	color: var(--white);
}

@media (min-width: 1000px) {
	footer {
		border-top-right-radius: $border-radius-desktop;
	}

	.container__footer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: flex-start;
		padding: 3rem 6rem;
		text-align: left;
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}

	.footer__logo {
		margin: unset;
		width: 5rem;
		height: 2rem;
	}

	.footer__content h4 {
		margin-bottom: 1.6rem;
		font-size: 1.2rem;
	}

	.footer__content ul {
		gap: 0.6rem;
		margin-bottom: unset;
	}
}
