header {
	color: var(--white);
	border-bottom-left-radius: $border-radius;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.header__background {
	background-image: linear-gradient(to bottom right, var(--bg-vlight-red) 15%, var(--bg-light-red));
	z-index: 2;
	position: absolute;
	height: 100%;
	width: 100%;
}

.header__background__img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/bg-pattern-intro.svg);
	background-size: 204rem;
	background-position: left -46rem top -28rem;
	z-index: 3;
}
.header__nav {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	padding: 8rem 4rem;
	width: unset;
}
hr {
	display: block;
}

.header__logo {
	width: 16em;
	height: 7rem;
}

.icon__hamburger {
	display: block;
	width: 5rem;
	height: 4rem;
}
.icon__close {
	display: none;
	width: 5rem;
	height: 4rem;
}

.navbar {
	z-index: 11;
	display: none;
	flex-direction: column;
	background-color: var(--white);
	color: var(--vldark-blue);
	font-family: "Ubuntu", serif;
	gap: 2rem;
	padding: 6rem;
	width: 88%;
	position: absolute;
	left: 50%;
	top: 19rem;
	transform: translate(-50%);
}

/* Checkbox  Hamburger Mobile Menu */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#checkbox__hamburger {
	display: none;
	position: absolute;
	z-index: -3;
}
#checkbox__hamburger:checked + .icon__hamburger {
	display: none;
}
.header__nav #checkbox__hamburger:checked + .icon__hamburger + .icon__close {
	display: block;
	transition: opacity 1s ease-in;
}
.header__nav #checkbox__hamburger:checked + .icon__hamburger + .icon__close + .navbar {
	display: flex;
}

/* Checkbox  Navbar Menu */
/* Styling */

.nav__item {
	display: none;
	flex-direction: column;
	padding: 3rem;
	gap: 0.6rem;
	background-color: var(--bg-nav__item);
}
.navbar span {
	display: block;
	font-size: 3rem;
	font-weight: 500;
	margin: 1rem;
	font-family: "Ubuntu", serif;
}
.nav__item li {
	display: block;
	font-weight: 400;
}

/* Nav__Item Checkbox */
#checkbox__product:checked + .product {
	display: flex;
}
#checkbox__company:checked + .company {
	display: flex;
}
#checkbox__connect:checked + .connect {
	display: flex;
}

/* Nav login */

.navbar__login {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: unset;
	margin-right: unset;
	margin-left: unset;
}

.navbar__login a:last-child {
	padding: 1rem 4rem;
	background-image: linear-gradient(to right, var(--bg-vlight-red) 30%, var(--bg-light-red));
	background-color: unset;
	height: 100%;
	width: fit-content;
	margin: 0 auto;
	border-radius: 4rem;
	color: var(--white);
	font-weight: 600;
}

@media (min-width: 1000px) {
	header {
		border-bottom-left-radius: $border-radius-desktop;
	}

	.header__background__img {
		background-size: 216rem;
		background-position: left -33rem top -91rem;
		z-index: 2;
	}

	.header__nav {
		justify-content: flex-start;
		align-items: center;
		padding: 2rem 4rem;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		position: static;
	}

	hr {
		display: none;
	}
	.header__logo {
		z-index: 10;
		width: 100px;
		height: 2.4rem;
	}

	.icon__hamburger {
		display: none;
	}
	.header__nav #checkbox__hamburger:checked + .icon__hamburger + .icon__close {
		display: none;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		position: relative;
		gap: 1rem;
		color: var(--white);
		background-color: inherit;
		margin-left: 50px;
		padding: 0;
		height: 100%;
		top: 0;
	}
	.navbar span {
		font-size: 1rem;
		font-weight: bold;
	}

	.navbar span:hover {
		font-weight: bold;
		opacity: 80%;
		cursor: pointer;
	}
	.nav__item {
		display: none;
		position: absolute;
		flex-direction: column;
		padding: 1rem;
		gap: 0.6rem;
		background-color: var(--bg-nav__item);
	}

	.navbar__login {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 350px;
		align-items: center;
		margin-left: 200px;
		margin-right: 0;
		gap: 0;
	}

	.navbar__login a {
		color: var(--white);
		display: inline-block;
		width: fit-content;
		padding: 0 1rem;
		text-decoration: none;
	}

	.navbar__login a:hover {
		font-weight: normal;
		opacity: 80%;
	}

	.navbar__login a:last-child {
		padding: auto 2rem;
		height: 100%;
		width: fit-content;
		background-image: unset;
		background-color: var(--white);
		color: var(--light-red);
	}

	.navbar__login a:last-child:hover {
		background-color: var(--bg-vlight-red);
		color: white;
	}
}
