@media (min-width: 576px) {
	.header__background__img {
		background-size: 140rem;
		background-position: left -20rem top -30rem;
	}

	.header__nav {
		padding: 2rem 4rem;
		width: 100%;
	}

	hr {
		display: none;
	}
	.header__logo {
		width: 6em;
		height: 2.4rem;
	}

	.icon__hamburger {
		display: none;
	}
	.header__nav #checkbox__hamburger:checked + .icon__hamburger + .icon__close {
		display: none;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
		color: var(--white);
		padding: 0;
		width: 100%;
		position: relative;
		background-color: unset;
		left: unset;
		transform: unset;
		top: unset;
	}

	.nav__item {
		display: none;
	}

	.navbar__login {
		flex-direction: row;
		align-items: baseline;
		margin-right: 0;
		margin-left: auto;
	}

	.navbar__login a {
		color: var(--white);
	}

	.navbar__login a:last-child {
		background-image: unset;
		background-color: var(--white);
		color: var(--light-red);
	}

	.header__content {
		gap: 1rem;
		margin: 0 auto;
		padding: 4rem 0;
	}

	.header__content h1 {
		font-size: 3rem;
		line-height: unset;
	}

	.header__content__link {
		gap: 1rem;
		margin: 1rem auto;
	}

	.header__content a {
		padding: 1rem 2rem;
		border-radius: 2rem;
		font-size: 1rem;
	}

	/* Section graph */
	.section__graph {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.section__graph h2 {
		padding: 8rem 0 2rem;
		z-index: 2;
	}

	.graph {
		background-image: url("../images/illustration-editor-desktop.svg");
		background-position: left center;
		background-size: 47rem;
		width: 50%;
		height: 62rem;
		top: -5rem;
		right: 0rem;
		margin: 0;
		z-index: 14;
		position: absolute;
	}

	.container__graph__article {
		padding: 2rem 1rem 2rem 4rem;
		text-align: left;
		margin: 0 50% 0 0;
	}

	.container__graph__article h3 {
		padding: 1rem;
		font-size: 1.3rem;
	}

	.container__graph__article p {
		padding: 1rem;
		line-height: unset;
		margin: unset;
	}

	/* Section phone */
	.section__phone {
		position: relative;
		margin: unset;
		padding: 14rem 0;
	}

	.phone {
		background-size: 29rem;
		left: 16rem;
		top: 11rem;
		transform: translate(-50%);
		height: 29rem;
	}

	.container__phone {
		border-radius: 0 5rem 0 5rem;
	}

	.container__phone__background {
		background-size: 49rem;
		background-position: left -13rem top -22rem;
		height: 60rem;
	}

	.container__phone__content {
		padding: 6rem 4rem;
		margin: 0 0 0 45%;
		text-align: left;
	}

	.container__phone__content h2 {
		font-size: 2rem;
	}
	.container__phone__content p {
		letter-spacing: 1px;
		font-size: 1rem;
		padding: unset;
	}

	/* Section laptop */

	.section__laptop {
		margin-bottom: unset;
		flex-direction: row;
		align-items: center;
	}

	.laptop {
		background-image: url("../images/illustration-laptop-desktop.svg");
		background-position: right center;
		background-size: 50rem;
		height: 50rem;
		width: 50%;
	}

	.container__laptop__content {
		width: 50%;
		padding: 2rem 2rem 2rem 0;
		text-align: left;
	}

	.container__laptop__content h3 {
		margin: 1rem auto;
	}
	.container__laptop__content p {
		line-height: 1.8rem;
	}
	/* Footer  */

	footer {
		border-radius: 0 5rem 0 0;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: flex-start;
		padding: 3rem 6rem;
		text-align: left;
	}

	.footer__logo {
		margin: unset;
		width: 5rem;
		height: 2rem;
	}

	.footer__content h4 {
		margin-bottom: 1.6rem;
		font-size: 1.2rem;
	}

	.footer__content ul {
		gap: 0.6rem;
		margin-bottom: unset;
	}
}

@media (min-width: 1000px) {
}
