.section__phone {
	position: relative;
	margin: 10rem auto;
	padding: 26rem 0 4rem;
	max-width: 1440px;
}

.phone {
	background-image: url(../images/illustration-phones.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60rem;
	position: absolute;
	left: 50%;
	top: 0rem;
	transform: translate(-50%);
	z-index: 3;
	height: 60rem;
	width: 100%;
}

.container__phone {
	background-color: var(--bg-vdark-blue);
	border-top-right-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
	position: relative;
	overflow: hidden;
}

.container__phone__background {
	background-image: url("../images/bg-pattern-circles.svg");
	background-size: 100rem;
	background-position: center -40rem;
	background-repeat: no-repeat;
	position: absolute;
	height: 80rem;
	width: 100%;
	z-index: 1;
}

.container__phone__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	color: var(--white);
	position: relative;
	z-index: 4;
	padding: 36rem 2rem 16rem;
}

.container__phone__content h2 {
	font-size: 6rem;
	color: var(--white);
}
.container__phone__content p {
	font-family: "Overpass", serif;
	letter-spacing: 3px;
	padding: 2rem;
}

@media (min-width: 1000px) {
	.section__phone {
		position: relative;
		padding: 6rem 0;
		margin: 6rem auto 0;
	}

	.phone {
		background-size: 29rem;
		left: 19rem;
		top: 3rem;
		height: 29rem;
		width: 29rem;
		margin: 0 auto;
		position: absolute;
	}

	.container__phone {
		border-top-right-radius: $border-radius-desktop;
		border-bottom-left-radius: $border-radius-desktop;
		max-width: 1440px;
		margin: 0 auto;
		max-height: 28rem;
	}

	.container__phone__background {
		background-size: 49rem;
		background-position: left -13rem top -22rem;
		height: 60rem;
	}

	.container__phone__content {
		padding: 0 2rem 0 6rem;
		margin: 0 0 0 44%;
		text-align: left;
		height: 24rem;
	}

	.container__phone__content h2 {
		font-size: 2rem;
	}
	.container__phone__content p {
		letter-spacing: 1px;
		font-size: 1rem;
		padding: unset;
	}
}

@media (min-width: 1440px) {
	.container__phone__content {
		padding: 2rem 6rem;
		margin: 0 0 0 44%;
		text-align: left;
		height: 24rem;
	}
}
