@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

:root {
	--light-red: hsl(356, 100%, 66%);
	--vlight-red: hsl(355, 100%, 74%);
	--vdark-blue: hsl(208, 49%, 24%);
	--white: hsl(0, 0%, 100%);
	--grayish-blue: hsl(240, 2%, 79%);
	--vldark-blue: hsl(207, 13%, 34%);
	--vdark--black-blue: hsl(240, 10%, 16%);
	--bg-vlight-red: hsl(13, 100%, 72%);
	--bg-light-red: hsl(353, 100%, 62%);
	--bg-vdark-blue: hsl(237, 17%, 21%);
	--bg-desatured-blue: hsl(237, 23%, 32%);
	--bg-nav__item: hsl(240, 7%, 94%);
}

$border-radius: 15rem;
$border-radius-desktop: 5rem;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Overpass", sans-serif;
	font-size: 1rem;
	background-color: var(--white);
	text-align: center;
}

input {
	display: none;
}

a {
	text-decoration: none;
	color: var(--vldark-blue);
}

h1 {
	font-size: 6rem;
}
h2,
h3,
h4 {
	color: var(--bg-vdark-blue);
	font-size: 5rem;
}

ul {
	list-style-type: none;
}

p {
	font-size: 2rem;
	opacity: 0.7;
	line-height: 4.6rem;
}

a {
	font-size: 2.75rem;
}

section {
	margin: 0 auto;
}

@media (min-width: 1000px) {
	h1 {
		font-size: 4rem;
	}

	h2,
	h3,
	h4 {
		font-size: 2rem;
	}

	p {
		font-size: 1.4rem;
		line-height: 2rem;
	}

	a {
		font-size: 1rem;
		font-weight: 400;
	}
}
